.slider{
    /* border: 1px solid none; */
    position: relative;
    width: 100%;
    max-height: 80vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide{
    position: relative;
    min-width: 100%;
    height: auto;
    margin-top: 10px;
    transition: .5s;
    overflow: hidden;
}

.imageStyles{
  max-width: 100%;
  color: white;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
}

.goLeft{
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}

.sliderIcon{
    font-size: 2vw;
}

.goLeft:hover,.goRight:hover{
    background-color: rgba(0,0,0,0.356);
    cursor: pointer;
}

.h1{
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    /* margin-top: 150px; */
}

.h3{
   font-size: 12px;
   font-weight: 300;
   text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    border: 3px solid #fff;
    background: none;
    color: white;
    padding: 17px;
    margin: 30px;
    vertical-align: middle;
}

.goRight{
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}

@media screen and (max-height:500px){
    .slide{
        max-height: 50vh;
    }

}

@media screen and (max-width:500px){

    .h1{
        font-size: 18px;
    }

    .h3{
        font-size: 12px;
    }

    .goLeft:hover,.goRight:hover{
        background-color: rgba(0,0,0,0);
        animation: background-fade 2s ease-in-out;
    }

    @keyframes background-fade{
        0%{
         background-color: rgba(0,0,0,0.356);
        }
        100%{
            background-color: rgba(0,0,0,0);
        }
    }
}